body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  gap: 1rem;
}

.app {
  padding: 1rem;
  background-color: black;
  color: white;
}
.card-details {
  padding: 1rem;
  border: 2px dotted gray;
  border-radius: 1rem;
  align-items: center;
}
.episode-item {
  margin: 0.5rem;
  border: 2px dotted gray;
  border-radius: 1rem;
}
